.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: auto;
  width: 80%;
  border: 1px solid black;
  font-size: 16px;
}

.field {
  padding: 2px;
  margin: 2px;
}

.btn.content {
  display: flex;
  flex-wrap: wrap;
}

.approvBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding-bottom: 2%;
  background-color: whitesmoke;
}

.studentDetails {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
}

@media screen and (max-width : 768px) {
  .content {
    width: 80vh;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border : 1px solid rgb(170, 169, 169);
    border-radius : 5px;
    box-shadow: 2px 2px 2px rgb(202, 202, 214);
   }
   .approvBox {
    width: 80vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-bottom: 2%;
    background-color: whitesmoke;
  }
}