
.full{
    margin: auto;
    text-align: center;
}

.first{
    width: 50%;
    margin: auto;
}

.showdata{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 55px;
}

.Field_data_val{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(219, 216, 216);
}
.show_data_val{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(219, 216, 216);
}
.titles{
    text-align: left;
}

.data_n_title{
    margin: auto;
    text-align: center;
    height: 20px;
    width: 200px;
}